body {

	background-repeat: ;
}

#body1 {
	background-color: teal;
}

#body2 {
	background-color: green;
}

.boxhead {
	height: 600px;
}

.container .row .videoHead {
	width: 50%;
	height: 329px;
	background-color: tan;
}

.captionHead {
	text-align: center;
	color: orange;
}

#player {
	height: 90%;
	width: 95%;
	margin:15px;
}

.box {
	background-color: blue;
	height: 600px;
}

.box2 {
	background-color: white;
	height: 600px;
}
.box3 {
	background-color: red;
	height: 400px;
}

.nav-pills {
	text-align: center;
	padding-top: 1%;
	padding-left: 3%;
	font:arial;
	font-size: 21px;

}

.pill {
	background-color: none;
	width: 11.9%;
	border-radius: 10%;
}

.body1Img {
	width: 80%;

}

.bodCenter {
	text-align: center;
}

.thumbBody {
	max-width: 155%;
	padding-top: 60px;
}

.thumbBody2 {
	max-width: 155%;
	padding-top: 60px;
	margin-left: -55%;
	height: 254px;
}