body {

	background: black;
}

#body1 {
	background-color: teal;
}

#body2 {
	background-color: green;
}

.boxhead {
	height: 600px;
}

.videoHead {
	width: 50%;
	height: 300px;
	background-color: tan;
}

#player {
	height: 90%;
	width: 95%;
	margin:15px;
}

.box {
	background-color: blue;
	height: 600px;
}

.box2 {
	background-color: white;
	height: 600px;
}
.box3 {
	background-color: red;
	height: 400px;
}