body {
 
 }

#body1 {

}

#body2 {
	background-color: green;
}

.boxhead {
	/*background-image: url(../images/back.gif) !important;*/
	background-color: #efefef;
	height: 480px;
	box-shadow: 5px 5px 5px #999999;
}

.header1 {
	background-color: #ffd451 !important;
	height: 80px;
	-webkit-box-shadow: 6px 9px 31px 3px rgba(0,0,0,0.41);
    -moz-box-shadow: 6px 9px 31px 3px rgba(0,0,0,0.41);
    box-shadow: 6px 9px 31px 3px rgba(0,0,0,0.41);
    margin-bottom: 0px !important;
    border:none !important;
    background-image: none !important;
}

.container .row .videoHead {
	width: 50%;
	height: 329px;
	background-color: tan;
}

.captionHead {
	text-align: center;
	color: orange;
}

#player {
	height: 90%;
	width: 95%;
	margin:15px;
}

.logoT {
	margin-top: 10px;
}

.trumpLogo {
	text-align: center;
	box-shadow: 5px 5px 5px #999999;
	margin-top: 60px;
	width: 100%
}

.box {

	background-color: #caebf2;
	height: 700px;
	box-shadow: 5px 5px 5pc;

}

.navbar-right {
	margin-right: 20%;
}

.box2 {
	background-color: white;
	height: 600px;
}
.box3 {
	background-color: red;
	height: 400px;
}

.navbar-right {
	float:right;
}


.pil {
	background-color: #caebf2;
	border-radius: 10%;
	box-shadow: 5px 5px 5px #999999;
	margin-left: 10px;
	margin-top: 11px;
}

.body1Img {
	width: 80%;
	margin-top:60px ;
	margin-bottom: 10px;
	max-height: 580px;
	border: 3px #ffd451 solid;
	box-shadow: 5px 5px 5px #999999;
}

.bodCenter {
	text-align: center;
}

.thumbBody {
	max-width: 155%;
	margin-top: 100px;
	border: 3px #ffd451 solid;
	box-shadow: 5px 5px 5px #999999;
}

.thumbBody2 {
	max-width: 155%;
	margin-top: 100px;
	margin-left: -55%;
	height: 196px;
	border: 3px #ffd451 solid;
	box-shadow: 5px 5px 5px #999999;
}